<%= link_to post, class:"px-1 py-2" do %>
  <div class="card text-black">
    <div class="card-header p-0">
      <p class="m-0 fw-bolder text-center"><%= post.brand %></p>
      <p class="m-0 fw-normal text-center">'<%= post.frame %>'</p>
    </div>
    <div class="text-center card-img-wrapper align-middle mt-2" >
      <% if post.images.present? %>
        <%= image_tag post.images[0], class: "card-img-top img-fluid mx-auto rounded-0 align-middle", style: "max-height:100%; width: auto;" %>
      <% end %>
    </div>
    <div class="card-body p-0">
      <% id = post.user_id %>
      <% @user = User.find(id)%>
      <p class= "small m-0 mx-2 center">@<%= @user.profile.username %></p>
    </div>
  </div>
<% end %>